#menu-top {
  background-color: #31a812;
  border-color: #31a812;
  border-radius: 0;
}
#menu-top .navbar-brand {
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  padding: 0 0 0 0.5em;
}
#menu-top .navbar-brand img {
  display: inline-block;
  vertical-align: top;
}
#menu-top .navbar-brand span {
  position: relative;
  top: 18px;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  background-color: #31a812;
}
